h1{
    color: red;
}

.form{
    width: 500px;
    margin: 10px auto;
}

.info{
    padding: 10px;
    border-radius: 5px;
}
.card{
    margin:20px;
    padding: 15px;
    box-shadow: -1px 4px 7px -4px black;
    background-color: rgb(245, 245, 245);
    user-select: none;
}

.card:hover{
    background-color: rgb(255, 255, 255);
}
