{% extends "layout.html" %}
{% block title %}Категории{% endblock %}
{% block content %}

<h1>Темы</h1>
  <form method="POST">
    {{form.hidden_tag()}}
    {{form.name.label(class="form-control-label mb-3")}}
    {{form.name(class="form-control mb-3")}}
    {{form.submit(class="btn btn-primary mb-3")}}
  </form>
  {% if  topics %}
    {% for topic in topics %}
    <div><strong>{{topic.name}}</strong></a>
    <a href="{{url_for('delete_topic', topic_id = topic.id)}}"><img src="/static/images/delete.png" width="20" height="19"></a>
    <a href="{{url_for('edit_topic', topic_id = topic.id)}}"><img src="/static/images/Edit.png" width="20" height="20"></a>
    </div>
    
    
    {% endfor %}
  {% else %}
  <strong>Создайте первую тему.</strong>
  {% endif %}
{% endblock %}